backend/*
*.pyc
.*/__pycache__/.*
..*pyc
cloudformation-stack/*
.vscode/*
.env
env_files
atnp/node_modules/*
static/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
